main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    height: 520px;
}

body {
    background: #E5E5E5;
}

.data-user-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    height: 520px;
    background: #FFFFFF;
    padding: 90px;
}

.data-user-form .form-subtitle {
    font-weight: 700;
    color: #496F74;
    margin-bottom: 10px;
}

.data-user-form label {
    font-weight: 400;
    font-size: 15px;
}

.data-user-form input {
    all: unset;
    height: 30px;
    margin: 5px 0 8px 0;
    padding: 5px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
}

.data-user-form input:focus {
    border: 1px solid #284A5E;
}

.data-user-form::placeholder {
    font-weight: 400;
    font-size: 14px;
}

.form-subtitle {
    margin-top: 30px;
    margin-bottom: 2px;
}

.full-name-container, .address-code-container, .full-address-container, .city-state-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.full-address-container, .city-state-container {
    flex-direction: row;
}

.address-code-container {
    width: 520px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.address-code-container .input-cep {
    width: 100px;
}

.address-code-container .input-address {
    width: 390px;
}

.full-address-container .input-number {
    width: 78px;
}

.full-address-container .input-address-plus {
    width: 244px;
}

.full-address-container .input-neighborhood {
    width: 150px;
    margin-left: 6px;
}

.city-state-container {
    display: flex;
    justify-content: space-between;
}

.city-state-container .input-city {
    width: 242px;
}

.city-state-container #state-option {
    all: unset;
    display: flex;
    align-items: center;
    width: 200px;
    height: 30px;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
}

.city-state-container #state-option:focus {
    border: 1px solid #284A5E;
}

.city-state-container .input-uf {
    width: 30px;
}

.tel-container .cod-country {
    width: 50px;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.btn-update-data {
    all: unset;
    width: 180px;
    text-align: center;
    margin-top: 12px;
    padding: 6px 5px;
    background: linear-gradient(93.38deg, #496F74 -3.47%, #2D4F61 84.29%);
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 3px;
}

.btn-update-data:hover {
    cursor: pointer;
    opacity: .9;
}

.btn-update-data:focus {
    opacity: .9;
}