body {
    background: #E5E5E5;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.data-user-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background: #FFFFFF;
    padding: 90px;
}

.form-subtitle {
    font-weight: 700;
    color: #496F74;
}

.data-user-form label {
    margin-top: 1.25rem;
    font-weight: 400;
    font-size: 0.9375rem;
}

.data-user-form input {
    all: unset;
    height: 1.875rem;
    margin: 0.3125rem 0 0.5rem 0;
    padding: 0.3125rem;
    border: 0.0625rem solid #CCCCCC;
    border-radius: 0.1875rem;
}

.data-user-form input:focus {
    border: 0.0625rem solid #284A5E;
}

.data-user-form::placeholder {
    font-weight: 400;
    font-size: 0.875rem;
}

.data-user-form .input-name, .tel-container .cod-country, .tel-container .input-tel {
    background: #E6E0E0;
    cursor: not-allowed;
}

.full-name-container, .address-code-container, .full-address-container, .city-state-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.full-address-container, .city-state-container {
    flex-direction: row;
}

.address-code-container {
    width: 32.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.address-code-container .input-cep {
    width: 6.25rem;
}

.address-code-container .input-address {
    width: 24.375rem;
}

.full-address-container .input-number {
    width: 4.875rem;
}

.full-address-container .input-address-plus {
    width: 15.25rem;
}

.full-address-container .input-neighborhood {
    width: 9.375rem;
    margin-left: 0.375rem;
}

.city-state-container {
    display: flex;
    justify-content: space-between;
}

.city-state-container .input-city {
    width: 15.125rem;
}

.city-state-container #state-option {
    all: unset;
    display: flex;
    align-items: center;
    width: 12.5rem;
    height: 1.875rem;
    margin-top: 0.3125rem;
    padding: 0.3125rem;
    border: 0.0625rem solid #CCCCCC;
    border-radius: 0.1875rem;
}

.city-state-container #state-option:focus {
    border: 0.0625rem solid #284A5E;
}

.city-state-container .input-uf {
    width: 1.875rem;
}

.tel-container .cod-country {
    width: 3.125rem;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.875rem auto 0;
}

.btn-update-data {
    all: unset;
    width: 12.5rem;
    height: 1.875rem;
    text-align: center;
    padding: 0.375rem 0.3125rem;
    background: linear-gradient(93.38deg, #496F74 -3.47%, #2D4F61 84.29%);
    font-weight: 700;
    font-size: 1rem;
    color: #FFFFFF;
    border-radius: 0.1875rem;
}

.btn-update-data:hover, .btn-update-data:focus {
    cursor: pointer;
    border: 0.0938rem solid #072E44;
    padding: 0.3125rem 0.25rem;
    opacity: .9;
}

@media screen and (max-width: 480px) {

    body {
        width: 100%;
    }

    main {
        width: 100%;
        height: 100vh;
    }

    .data-user-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}