@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 43.75rem;
    min-height: calc(100vh - 30px);
    margin: 0.625rem auto;
    background: #E5E5E5;
    font-family: 'Space Grotesk', sans-serif;
}

/*Estilização header e footer*/

header, footer {
    height: 2.1875rem;
    background: #FFFFFF;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav h1 {
    background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-left: 2.5rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0.625rem 3.125rem;
}

.menu-header, .menu-footer {
    width: 50%;
    height: 100%;
    text-shadow: 0.0625rem 0.0625rem 0.0625rem #2f6066;
    background: linear-gradient(55deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
}

.social-icons {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-header ul, .social-icons ul, .menu-footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15.625rem;
    height: 100%;
}

.menu-header a:hover, .menu-footer a:hover {
    opacity: .4;
}

.social-icons ul{
    width: 12.5rem;
}

.social-icons a {
    color: #496F74;
}

nav ul li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 0.9375rem;
    color: #FFFFFF;
}

.bi-facebook:hover {
    color: #3B5998;
}

.bi-instagram:hover {
    color: #8A3AB9;
}

.bi-twitter:hover {
    color: #00ACEE;
}

@media screen and (max-width: 480px) {
    body {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    header nav {
        display: flex;
        flex-direction: column;
    }

    header h1 {
        width: 100%;
        height: 2.1875rem;
        margin: 2.1875rem auto 0;
        text-align: center;
        position: absolute;
    }

    header .menu-header {
        width: 100%;
        position: relative;
    }

    header .menu-header ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    footer nav {
        display: flex;
        flex-direction: column;
    }

    .social-icons, .menu-footer {
        width: 100%;
    }

    .menu-footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}