main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
}

main section h1 {
    margin-bottom: 3.75rem;
    font-size: 1.75rem;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #2f6066;
}

.container-principal {
    width: 100%;
    height: 33.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.875rem;
    font-weight: 700;
    font-size: 1.375rem;
    color: #FFFFFF;
    text-shadow: 0.125rem 0.125rem 0.125rem #2f6066;
}

.container-principal p {
    width: 60%;
}

@media screen and (max-width: 480px) {

    body {
        height: 100vh;
    }

    main {
        height: 100%;
    }

    .container-principal {
        height: 100%;
        padding: 1.875rem 0 5.625rem 0;
        font-size: 1.2188rem;
    }
}