main {
    width: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-section {
    width: 350px;
    height: 536px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 100%;
    height: 100%;
}

.subtitle-message {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 50px;
    text-align: center;
    background-color: #FFFFFF;
    color: #496F74;
}

.new-user-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 19px 50px;
    background: #FFFFFF;
}

.new-user-form h2 {
    margin-top: 12px;
    margin-bottom: 6px;
    font-size: 1.25rem;
}

.new-user-form label {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 15px;
}

.new-user-form label sup {
    color: #961010;
}

.new-user-form input {
    all: unset;
    width: 100%;
    height: 1.875rem;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
}

.new-user-form input::placeholder {
    font-weight: 400;
    font-size: 0.875rem;
}

.new-user-form input:focus {
    border: 1px solid #284A5E;
}

.new-user-form select {
    all: unset;
    width: 100%;
    height: 1.875rem;
    display: flex;
    align-items: center;
    border: 1px solid #CCCCCC;
    margin-bottom: 7px;
    padding: 5px;
    border-radius: 3px;
}

.new-user-form select:focus {
    border: 1px solid #284A5E;
    border-radius: 3px;
}

.tel-container {
    display: flex;
    width: 262px;
}

.tel-container .cod-country {
    width: 16%;
    padding: 1.5px;
    margin-right: 2px;
    background: #E6E0E0;
    cursor: not-allowed;
}

.tel-container .input-tel {
    width: 84%;
    padding: 1.5px;
}

.new-user-form button {
    all: unset;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    padding: 10.5px 6px;
    background: linear-gradient(93.38deg, #496F74 -3.47%, #2D4F61 84.29%);
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 3px;
}

.new-user-form button:hover {
    cursor: pointer;
    opacity: .9;
    border: 1.5px solid #072E44;
    padding: 9.5px 5px;
}

.new-user-form button:focus {
    opacity: .9;
    border: 1.5px solid #072E44;
    padding: 9.5px 5px;
}

.new-user-form span {
    text-align: center;
    margin-top: 15px;
}

.new-user-form span a:hover {
    opacity: 0.6;
}

.new-user-form a {
    font-weight: 700;
    font-size: 16px;
    color: #476D73;
    text-decoration: none;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
    width: 350px;
    height: 536px;
    padding: 30px;
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #2f6066;
}

.quote-container p {
    margin-top: 14px;
    margin-right: 190px;
    font-size: 12px;
}

@media screen and (max-width: 480px) {
    .quote-container {
        display: none;
    }
}